:root {
    --health-gradient: 
}

body, html, main, article { 
    width: 100%; height: 100%; padding: 0; margin: 0; 
}

body {
    background-color: #777;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article {
    display: flex; justify-content: center; align-items: center;
}

section.game-container {
    background: black;
    position: relative;
    aspect-ratio: 16/9;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

div.game-overlay {
    position: absolute; width: 100%; height: 100%; top:0; left: 0;
}

canvas { 
    display: block; 
    image-rendering: pixelated; 
    height: 100%;
    width: 100%;
}

.scene {
    width: 100%;
    height: 100%;
    color: white;
    font-size:  20pt;
}

.scene.game {
    display: flex; flex-flow: column nowrap;
}

.scene.game .top-hud {
    width: 100%;
    display: grid;
    grid-template-columns: 360px 80px 360px;
    position: relative;
    padding-top: 15px;
}

.scene.game .p1-data, .scene.game .p2-data {
    position: relative;
}

.scene.game .top-hud .health {
    width: 320px;
    height: 20px;
    position: absolute;
}

.health .bar {
    width: 100%;
    height: 100%;
    position: absolute;
}

.health .bar > div {
    background: 
    linear-gradient(to top, rgba(255, 255, 255, 1), 2px, transparent 5px), 
    linear-gradient(to left, rgba(255, 255, 255, 1), 2px, transparent 5px), 
    linear-gradient(to right, rgba(255, 255, 255, 1), 2px, transparent 5px), 
    linear-gradient(to bottom, rgba(255, 255, 255, 1), 2px, transparent 5px); 
    width: 100%;
    height: 100%;
}

.health .bar.main {
    background:
    linear-gradient(to top, rgb(48, 212, 97), 20%, transparent), 
    linear-gradient(to left, rgb(48, 212, 97), 20%, transparent), 
    linear-gradient(to right, rgba(48, 212, 97), 20%, transparent), 
    linear-gradient(to bottom, rgba(48, 212, 97), 20%, transparent); 
}

.health .bar.sub {
    background:
    linear-gradient(to top, rgb(243, 240, 81), 20%, transparent), 
    linear-gradient(to left, rgb(243, 240, 81), 20%, transparent), 
    linear-gradient(to right, rgba(243, 240, 81), 20%, transparent), 
    linear-gradient(to bottom, rgba(243, 240, 81), 20%, transparent); 
}

.p1-data .health .bar {
    right: 0;
}

.scene.game .p1-data .health {
    position: absolute;
    right: 0;
}

.scene.game .health span {
    max-width: 100%;
    height: 100%;

}

#menu_container {
    position: absolute;
    width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
}

#menu_container.active {
    background-color: rgba(0, 0, 0, 0.25);
}

.game-menu {
    border: 2px solid rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.25);
    display: flex; flex-flow: column nowrap;
    width: 75%; height: 80%;
    color: white;
    user-select: none;
}

.game-menu header{
    text-align: center;
    text-transform: uppercase;
}

.game-menu .body {
    margin: 0px 20px 0px 20px;
    position: relative;
    flex: 1;
}

.game-menu .body section {
    display: none;
}

.game-menu .body section.active {
    display: block;
}

.game-menu  ul.tabs {
    display: flex; list-style: none;
}

.game-menu ul.tabs li {
    padding: 8px;
    cursor: pointer;
}

.game-menu ul.tabs li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.game-menu ul.tabs li.active {
    background-color: white;
    color: black;
}


.game-menu table {
    width: 100%;
}

.game-menu table td {
    text-align: center;
}

/* OPTIONS MENU STYLInGG */
