section.panel {

    section {

        header {
            background-color: #888;
        }

        > div {
            padding: 8px;
        }

        div.field {
            display: flex;
            justify-content: space-between;
        }

    }

}