.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(100px, auto);
  height: 100vh;
}

.row1 {
  display: grid;
  grid-row: 1;
  grid-column: 1/4;
  grid-template-columns: repeat(3, 1fr);
}

.row2 {
  display: grid;
  grid-row: 2/6;
  grid-column: 1/4;
}

.world_view {
  grid-column: 1;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
}

.sprite_view {
  grid-column: 2/4;
  border: 1px solid black;
}

.command {
  grid-column: 4;
  grid-row: 1/6;
  border: 1px solid black;
}
