#glCanvas {
  flex:1;
}

#stamper {
  position: absolute;
}

#stamper > * {
  position: absolute;
}

#map_view {
  background: none;
  border: 1px solid black;
}

section {
  background: var(--panel-color);
}

.navigation {
  background: #555;
  cursor: pointer;
}

.navigation p:hover {
  background: #CCC;
  color: black;
}

.tiles {
}

.tiles main {
  flex: 1;
}

.tiles section.workspace {
  flex: 1;
}

.tiles main .command {
  flex: 1;
  min-width: 0;
  min-width: 0;
}

.tiles sub {

}

.tiles section.sprites {
  width: 530px;
}

.tiles section .content.dark {
  background: var(--bg-color);
}

.tiles section .content.light {
  background: white;
}



.tilesvg {
  width: 100%;
  height: 100%;
}

.tiles .workspace .content {
  display: flex;
  justify-content: center;
}

.tilemap.view-container {
  width: 1280px;
  height: 720px;
}

.view-container.tileset svg {
  position: absolute;
}

.view-container image {
  position: absolute;
  top: 0;
  left:0;
}

div.canvasLayers {
  width: 1280px;
  height: 720px;
  position: relative;
}

div.canvasLayers canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tilemap {
  cursor: crosshair;
}

.tilemap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
